{% for typeName, videoList in getGroupedVideos() %}
    {# Ignora o tipo "AprendeAI" #}
    {% if typeName != 'AprendeAI' %}
        {# Verifica se há mais de um vídeo no tipo atual #}
        {% if videoList|length > 1 %}
            {# Dropdown para tipos com mais de um vídeo #}
            <li class="hs-accordion" id="{{ typeName|lower|replace({' ': '-'}) }}-accordion">
                <button type="button"
                        class="hs-accordion-toggle w-full inline-flex shrink-0 items-center gap-x-2 p-2 text-start rounded-md hover:bg-neutral-500/60 active:bg-neutral-500/60 transition-all duration-150 ease-in-out transform active:scale-95 text-dark-text dark:hover:bg-neutral-400/60 dark:focus:bg-neutral-400/60 text-base"
                        aria-expanded="false"
                        data-accordion-id="{{ typeName|lower|replace({' ': '-'}) }}-accordion-sub-1-collapse-1"
                        aria-controls="{{ typeName|lower|replace({' ': '-'}) }}-accordion-sub-1-collapse-1">
                    {{ typeName }}
                    {# Ícones de dropdown #}
                    <svg class="hs-accordion-active:block ms-auto hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m18 15-6-6-6 6"/>
                    </svg>
                    <svg class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                </button>

                {# Conteúdo do dropdown #}
                <div id="{{ typeName|lower|replace({' ': '-'}) }}-accordion-sub-1-collapse-1"
                     class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
                     role="region" aria-labelledby="{{ typeName|lower|replace({' ': '-'}) }}-accordion">
                    <ul class="pt-1 ps-7 space-y-1">
                        {% for video in videoList %}
                            <li>
                                <a class="w-full inline-flex shrink-0 items-center gap-x-2 p-2 pe-6 text-start rounded-md hover:bg-neutral-500/60 active:bg-neutral-500/60 transition-all duration-150 ease-in-out transform active:scale-95 text-dark-text dark:hover:bg-neutral-400/60 dark:focus:bg-neutral-400/60 text-base video-link"
                                   href="{{ path('video_show', {'id': video.id}) }}">
                                    - {{ video.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% else %}
            {# Link simples para tipos com apenas um vídeo #}
            <li>
                <a class="w-full inline-flex shrink-0 items-center gap-x-2 p-2 text-start rounded-md hover:bg-neutral-500/60 active:bg-neutral-500/60 transition-all duration-150 ease-in-out transform active:scale-95 text-dark-text dark:hover:bg-neutral-400/60 dark:focus:bg-neutral-400/60 text-base"
                   href="{{ path('video_show', {'id': videoList[0].id}) }}" target="_blank">
                    {{ typeName }}
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}